<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MSVelan</title>
        <link rel="stylesheet" type="text/css" href="static/css/CSS-MySite.css">
        <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon_io/favicon-32x32.png">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">    
    </head>
    <body>
        <div class="TopContainer">
            <img class="top-cloud" src="static/images/cloud.png" alt="cloud-img">
            <h1>I'm Muthiah Sivavelan.</h1>
            <h2>a <span class="pro">pro</span>grammer.</h2>
            <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-img">
            <img src="static/images/mountain.png" alt="mountain-img">
        </div>
        <div class="middle-container">
            <div class="profile">
                <img class="profile-pic" src="static/images/boy.png" alt="profile-photo">
                <h2>Hello.</h2>
                <p class="intro">I am a web devoloper. I am also into competitive programming. I ❤️ coding.</p>
            </div>
            <hr>
            <div class="skills">
                <h2>My Skills.</h2>
                <div class="skill-row">
                    <img class="typing-pic" src="static/images/typing.gif" alt="typing-gif">
                    <h3>Typing</h3>
                    <p>I can type upto 48 wpm, which is the same speed as an average professional typer in India. I am really proud that I have learnt this skill on my own.</p>
                </div>
                <div class="skill-row">
                    <img class="code-img" src="static/images/coding.png" alt="coding-pic">
                    <h3>Programming</h3>
                    <p>I have started coding right from my class 11. I am proficient in c/c++. I know python and I am currently learning css,javascript.</p>
                </div>
            </div>
            <hr>
            <div class="contact-me">
                <h2>Get In Touch</h2>
                <h3>If you love coding as much as I do.</h3>
                <p class="contact-msg">Want to hire me? I am ready to work with you! Let's talk the deal.</p>
                <a class="btn" href="mailto:muthiahsvn@gmail.com">CONTACT ME</a>
            </div>
        </div>
        
        
        <div class="bottom-container">
            <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
            <a class="footer-link" href="https://twitter.com/">Twitter</a>
            <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
            <p class="copyright">© 2022 Muthiah Sivavelan.</p>
        </div>
    </body>
</html>