<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My html template</title>
</head>
<body>
    <h1>Hello Buddy, try login first!</h1>
    <form action="/login" method="post">
        <label for="name">Name</label>
        <input type="text" name="username" id="name" placeholder="Enter name..">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter password..">
        <button type="submit" id="submitbtn">Ok</button>
    </form>
</body>
</html>